.container {
    display: flex;

}
.topArea {
    height: 250px;
    text-align: end;
    justify-content: center;
    padding-top: 200px;
    width: 100%;
    align-items: flex-end;
}
.bottomArea {
    height: 250px;
    text-align: end;
    justify-content: center;
    padding-top: 200px;
    width: 100%;
    align-items: flex-end;
}