.headerBox {
    padding-left: 10px;
}

header {
    text-align: Left;
    background: white;
    background-image: url("../../assets/Header/techBackground\ -\ Copy.jpg");
    position: fixed;
    width: 100%;
    opacity: 92%;
}
