.headerBox {
    padding-left: 10px;
    color: white;
}

header {
    text-align: Left;
    color: white;
    background-image: url("../../assets/Header/techBackground\ -\ Copy.jpg");
    position: fixed;
    width: 100%;
    opacity: 92%;
}
