.projectGrid {
    display: flex;
    flex-direction: row;
}

.grid-container {
    text-align: center;
    display: grid;
    float: center;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
    padding: 15px;
    color: white;
  }

  .grid-container a {
    text-decoration: none;
    color: rgb(244, 225, 248);
    font-weight: bold;
    align-items: center;
    text-shadow: 0 0 5px #8e03aa
  }

.project {
    opacity: 70%;
    margin: 2px;
    width: 170px;
    height:55px;
    border: 1px solid white;
    text-align: center;
    text-decoration: none !important;
    align-items:center;
}

.runBuddy {
    background-image: url("../../assets/Projects/RunBuddy2.jpg") !important;
    padding-top: 12px;
}
.quack {
    background-image: url("../../assets/Projects/Quack.jpg") !important;
    padding-top: 12px;
}
.weather {
    background-image: url("../../assets/Projects/Rain.jpg") !important;
    padding: 2px;
}

.scheduler {
    background-image: url("../../assets/Projects/Scheduler.jpg") !important;
    padding: 2px;
}

.techBlog {
    background-image: url("../../assets/Projects/TechBlog.jpg") !important;
    padding-top: 12px;
}

.miniGram {
    background-image: url("../../assets/Projects/minigram.jpg") !important;
    padding-top: 12px;
}

.project:hover {
    opacity: 100%;
    box-shadow: 5px 10px 18px rgb(151, 4, 132);
  }

.tempoFinder {
    background-image: url("../../assets/Projects/TempoFinder.jpg") !important;
    padding-top: 12px;
}

.employeeTracker {
    background-image: url("../../assets/Projects/EmpTracker.jpg") !important;
    padding-top: 12px;
}

.access {
    background-image: url("../../assets/Projects/access.jpg") !important;
    padding-top: 12px;
}

.scheduler {
    opacity: 80%;
    padding: 5px;
}

.scheduler:hover {
    opacity: 100%;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    font-size:smaller;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }