.projectGrid {
    display: flex;
    flex-direction: row;
}

.grid-container {
    text-align: center;
    display: grid;
    float: center;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
    padding: 15px;
    color: white;
  }

  .grid-container a {
    text-decoration: none;
    color: rgb(251, 248, 252);
    font-weight:unset;
    align-items: center;
    text-shadow: 0 0 7px #2b0133;
    justify-content: center;
    align-content: center;
  }

.project {
    opacity: 70%;
    margin: 2px;
    width: 170px;
    min-height: 55px;
    border: 1px solid white;
    text-align:center;
    text-decoration: none !important;
    align-items:flex-end;
}

.runBuddy {
    background-image: url("../../assets/Projects/RunBuddy2.jpg") !important;
    /* padding-top: 12px; */
}
.quack {
    background-image: url("../../assets/Projects/Quack.jpg") !important;
    /* padding-top: 12px; */
}
.weather {
    background-image: url("../../assets/Projects/Rain.jpg") !important;
    /* padding: 12px; */
}
.scheduler {
    background-image: url("../../assets/Projects/Scheduler.jpg") !important;
    /* padding: 2px; */
}

.techBlog {
    background-image: url("../../assets/Projects/TechBlog.jpg") !important;
    /* padding-top: 12px; */
}

.miniGram {
    background-image: url("../../assets/Projects/minigram.jpg") !important;
    /* padding-top: 12px; */
}

.project:hover {
    opacity: 100%;
    box-shadow: 6px 10px 18px rgb(151, 4, 132);
  }

.tempoFinder {
    background-image: url("../../assets/Projects/TempoFinder.jpg") !important;
    /* padding-top: 12px; */
}

.employeeTracker {
    background-image: url("../../assets/Projects/EmpTracker.jpg") !important;
    /* padding-top: 12px; */
}

.access {
    background-image: url("../../assets/Projects/access.jpg") !important;
    /* padding-top: 12px; */
}

.scheduler {
    opacity: 80%;
    padding: 5px;
}

.scheduler:hover {
    opacity: 100%;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    font-size:smaller;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}