footer {
    display: flex;
    align-items: Flex-end;
    width:100%;
    min-height:35px;
    bottom:0;
    left:0;
    height: 30px;
    background-color: rgb(117, 29, 113); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(117, 29, 113) , black);
    padding-left: 13px;
}
.footerLink{
    padding-right: 20px;
}